ul {
    padding: 10px 10px 0 10px;
}

li:hover {
    -webkit-box-shadow: 4px 5px 9px -3px rgba(0,0,0,0.45);
    -moz-box-shadow: 4px 5px 9px -3px rgba(0,0,0,0.45);
    box-shadow: 4px 5px 9px -3px rgba(0,0,0,0.45);
}

li {
    list-style-type: none;
    border-radius: 2px;
    border: 1px solid silver;
    background-color: white;
}