<div id="details" class="row">
  <img src="http://placehold.it/1240x250" alt="major image" class="img-responsive center-block">
  <h1 class="text-center">Title</h1>
  <div id="nav-tab" class="col-xs-12">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Summary</a></li>
      <li role="presentation"><a href="#">Ingredients</a></li>
      <li role="presentation"><a href="#">Steps</a></li>
      <li role="presentation"><a href="#">Images</a></li>
    </ul>
  </div>
  <div id="recipe-detail-info" class="col-xs-12">
    <div id="tags" class="col-xs-8">Tags</div>
    <div id="difficulity" class="col-xs-2">Easy</div>
    <div id="time" class="col-xs-2">&#9200; 30 min</div>
  </div>
</div>